@{
    Layout = "";
    ViewData["Title"] = "Form";
}

@model Crash

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <!-- bootstrap layout-->
        <link rel="stylesheet" href="~/bootstrap/plugins/bootstrap/css/bootstrap.css" />
        <!-- Icofont Css -->
        <link rel="stylesheet" href="~/bootstrap/plugins/fontawesome/css/all.css">
        <!-- animate.css -->
        <link rel="stylesheet" href="~/bootstrap/plugins/animate-css/animate.css">
        <!-- Icofont -->
        <link rel="stylesheet" href="~/bootstrap/plugins/icofont/icofont.css">
        <!-- Main Stylesheet -->
        <link rel="stylesheet" href="~/bootstrap/css/style.css">
        <link rel="stylesheet" href="~/css/site.css" />
    </head>

<h1>Crash @Model.CRASH_ID</h1>
<div class="container">
    <form class="row g-3" method="post">
      
        <div asp-validation-summary="All"></div>

        <div class="form-group col-12">
            <label class="form-label" asp-for="MAIN_ROAD_NAME">Address: </label>
            <input class="form-control" asp-for="MAIN_ROAD_NAME" /><br /><br />
        </div>

        <div class="form-group col-md-6">
            <label class="form-label" asp-for="CITY">City: </label>
            <input class="form-control" asp-for="CITY" /><br /><br />
        </div>

        <div class="form-group col-md-6">
            <label class="form-label" asp-for="COUNTY_NAME">County: </label>
            <select class="form-control" asp-for="COUNTY_NAME">
                <option>Select a County</option>
                <option value="BEAVER">BEAVER</option>
                <option value="BOX ELDER">BOX ELDER</option>
                <option value="CACHE">CACHE</option>
                <option value="CARBON">CARBON</option>
                <option value="DAGGETT">DAGGETT</option>
                <option value="DAVIS">DAVIS</option>
                <option value="DUCHESNE">DUCHESNE</option>
                <option value="EMERY">EMERY</option>
                <option value="GARFIELD">GARFIELD</option>
                <option value="GRAND">GRAND</option>
                <option value="IRON">IRON</option>
                <option value="JUAB">JUAB</option>
                <option value="KANE">KANE</option>
                <option value="MILLARD">MILLARD</option>
                <option value="MORGAN">MORGAN</option>
                <option value="PIUTE">PIUTE</option>
                <option value="RICH">RICH</option>
                <option value="SALT LAKE">SALT LAKE</option>
                <option value="SAN JUAN">SAN JUAN</option>
                <option value="SANPETE">SANPETE</option>
                <option value="SEVIER">SEVIER</option>
                <option value="SUMMIT">SUMMIT</option>
                <option value="TOOELE">TOOELE</option>
                <option value="UINTAH">UINTAH</option>
                <option value="UTAH">UTAH</option>
                <option value="WASATCH">WASATCH</option>
                <option value="WASHINGTON">WASHINGTON</option>
                <option value="WAYNE">WAYNE</option>
                <option value="WEBER">WEBER</option>
            </select><br /><br />
        </div>

        <div class="form-group col-md-3">
            <label class="form-label" asp-for="CRASH_HOUR">Severity: </label>
            <select class="form-control" asp-for="CRASH_HOUR">
                <option>Select a Hour</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
            </select><br /><br />
        </div>

        <div class="form-group col-md-3">
            <label class="form-label" asp-for="CRASH_DAY">Crash Day: </label>
            <select class="form-control" asp-for="CRASH_DAY">
                <option>Select a Day</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
            </select><br /><br />
        </div>

        <div class="form-group col-md-3">
            <label class="form-label" asp-for="CRASH_MONTH">Severity: </label>
            <select class="form-control" asp-for="CRASH_MONTH">
                <option>Select a Month</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select><br /><br />
        </div>

        <div class="form-group col-md-3">
            <label class="form-label" asp-for="CRASH_YEAR">Crash Year: </label>
            <input class="form-control" asp-for="CRASH_YEAR" /><br /><br />
        </div>

        <div class="form-group col-md-3">
            <label class="form-label" asp-for="CRASH_SEVERITY_ID">Severity: </label>
            <select class="form-control" asp-for="CRASH_SEVERITY_ID">
                <option>Select a Severity</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br /><br />
        </div>

        <div class="form-group col-md-9">
            <p class="form-label"> 1: No Injury 2: possible injury 3: suspected minor injury 4: suspected serious injury 5: fatal </p>
        </div>

        <div class="form-group col-md-3">
            <label class="form-label" asp-for="ROUTE">Route: </label>
            <input class="form-control" asp-for="ROUTE" /><br /><br />
        </div>

        <div class="form-group col-md-3">
            <label class="form-label" asp-for="MILEPOINT">Milepoint: </label>
            <input class="form-control" asp-for="MILEPOINT" /><br /><br />
        </div>

        <div class="form-group col-md-3">
            <label class="form-label" asp-for="LAT_UTM_Y">Latitude: </label>
            <input class="form-control" asp-for="LAT_UTM_Y" /><br /><br />
        </div>

        <div class="form-group col-md-3">
            <label class="form-label" asp-for="LONG_UTM_X">Longitude: </label>
            <input class="form-control" asp-for="LONG_UTM_X" /><br /><br />
        </div>

        <div class="form-group col-md-2">
            <label class="form-label" asp-for="WORK_ZONE_RELATED">Work Zone Related?</label>
            <input class="form-control" type="checkbox" asp-for="WORK_ZONE_RELATED" />
        </div>

        <div class="form-group col-md-2">
            <label class="form-label" asp-for="PEDESTRIAN_INVOLVED">Pedestrian Involved?</label>
            <input class="form-control" type="checkbox" asp-for="PEDESTRIAN_INVOLVED" />
        </div>

        <div class="form-group col-md-2">
            <label class="form-label" asp-for="BICYCLIST_INVOLVED">Bicyclist Involved?</label>
            <input class="form-control" type="checkbox" asp-for="BICYCLIST_INVOLVED" />
        </div>

        <div class="form-group col-md-2">
            <label class="form-label" asp-for="MOTORCYCLE_INVOLVED">Motorcycle Involved?</label>
            <input class="form-control" type="checkbox" asp-for="MOTORCYCLE_INVOLVED" />
        </div>

        <div class="form-group col-md-2">
            <label class="form-label" asp-for="IMPROPER_RESTRAINT">Improper Restraint?</label>
            <input class="form-control" type="checkbox" asp-for="IMPROPER_RESTRAINT" />
        </div>

        <div class="form-group col-md-2">
            <label class="form-label" asp-for="UNRESTRAINED">Unrestrained?</label>
            <input class="form-control" type="checkbox" asp-for="UNRESTRAINED" />
        </div>

        <div class="form-group col-md-2">
            <label class="form-label" asp-for="DUI">DUI?</label>
            <input class="form-control" type="checkbox" asp-for="DUI" />
        </div>

        <div class="form-group">
            <label class="form-label" asp-for="INTERSECTION_RELATED">Intersection Related?</label>
            <input class="form-control" type="checkbox" asp-for="INTERSECTION_RELATED" />
        </div>

        <div class="form-group">
            <label class="form-label" asp-for="WILD_ANIMAL_RELATED">Wild Animal Related?</label>
            <input class="form-control" type="checkbox" asp-for="WILD_ANIMAL_RELATED" />
        </div>

        <div class="form-group">
            <label class="form-label" asp-for="DOMESTIC_ANIMAL_RELATED">Domestic Animal Related?</label>
            <input class="form-control" type="checkbox" asp-for="DOMESTIC_ANIMAL_RELATED" />
        </div>

        <div class="form-group">
            <label class="form-label" asp-for="OVERTURN_ROLLOVER">Overturn/Rollover?</label>
            <input class="form-control" type="checkbox" asp-for="OVERTURN_ROLLOVER" />
        </div>

        <div class="form-group">
            <label class="form-label" asp-for="COMMERCIAL_MOTOR_VEH_INVOLVED">Commercial Vehicle?</label>
            <input class="form-control" type="checkbox" asp-for="COMMERCIAL_MOTOR_VEH_INVOLVED" />
        </div>

        <div class="form-group">
            <label class="form-label" asp-for="TEENAGE_DRIVER_INVOLVED">Teenage Driver?</label>
            <input class="form-control" type="checkbox" asp-for="TEENAGE_DRIVER_INVOLVED" />
        </div>

        <div class="form-group">
            <label class="form-label" asp-for="OLDER_DRIVER_INVOLVED">Older Driver?</label>
            <input class="form-control" type="checkbox" asp-for="OLDER_DRIVER_INVOLVED" />
        </div>

        <div class="form-group">
            <label class="form-label" asp-for="NIGHT_DARK_CONDITION">At Night?</label>
            <input class="form-control" type="checkbox" asp-for="NIGHT_DARK_CONDITION" />
        </div>

        <div class="form-group">
            <label class="form-label" asp-for="SINGLE_VEHICLE">Single Vehicle?</label>
            <input class="form-control" type="checkbox" asp-for="SINGLE_VEHICLE" />
        </div>

        <div class="form-group">
            <label class="form-label" asp-for="DISTRACTED_DRIVING">Distracted Driving?</label>
            <input class="form-control" type="checkbox" asp-for="DISTRACTED_DRIVING" />
        </div>

        <div class="form-group">
            <label class="form-label" asp-for="DROWSY_DRIVING">Drowsy Driver?</label>
            <input class="form-control" type="checkbox" asp-for="DROWSY_DRIVING" />
        </div>

        <div class="form-group">
            <label class="form-label" asp-for="ROADWAY_DEPARTURE">Roadway Departure?</label>
            <input class="form-control" type="checkbox" asp-for="ROADWAY_DEPARTURE" />
        </div>

        <input type="hidden" asp-for="CRASH_ID" value="@ViewBag.Id" />

        <button class="btn btn-sm btn-primary" type="submit">Submit</button>
    </form>
</div>
