@{
    Layout = "";
}
@model Crash

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UtahMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>
<body>
    <header>
        <!-- navigation bar -->
        <navbar>
            <div class="bg-secondary text-white p-2">

                <div class="container-fluid">

                    <div class="row">
                        <div class="col">
                            <a class="text-white navbar-brand m-lg-2" asp-controller="Admin" asp-action="Admin">Utah MVC Administration</a>
                        </div>
                        <div class="col">
                            <partial name="_LoginPartial" />
                        </div>
                        <div class="col">
                            <partial name="_CookieConsentPartial" />
                        </div>

                    </div>

                </div>

            </div>
        </navbar>
        <!-- end navigation bar -->
    </header>
    <br />

    <div class="container-fluid">
        <div class="col-12" style="text-align:center">
            <h2>Confirm Deletion</h2>
            <h3>Are you sure you want to delete the record for @Model.CRASH_ID?</h3>
            <br />
            <form method="post" asp-controller="Admin" asp-action="AdminDelete">
                <div class="row">
                    <div class="col-6 button text-right">
                        <button class="button btn btn-danger" type="submit">Delete</button>
                    </div>
                    <div class="col-6 button text-left">
                        <a asp-controller="Admin" asp-action="Admin" class="button btn btn-primary">Cancel</a>
                        <input type="hidden" asp-for="CRASH_ID" />
                    </div>
                </div>
            </form>
        </div>
    </div>



</body>
</html>