@page "/admin"

@*@model UtahMVC.Pages.Admin.IndexModel*@

@{

}

<!DOCTYPE html>

<html>
@*tite + bootstrap import*@
<head>
    <title>Utah MVC Admin</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <base href="/" />

</head>

@*link to blazor*@
<body>
     
    <component type="typeof(UtahMVC.Pages.Admin.Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script>

    @*<component type="typeof(Bookstore.Pages.Admin.Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script>*@

</body>

</html>