<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UtahMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        .btn-purp, .btn-purp:hover, .btn-purp:active, .btn-purp:visited .bg-purp {
            background-color: #635CDB !important;
            color: white
        }
    </style>
</head>
<body>
    <header>
        <!-- navigation bar -->
        <navbar>
            <div class="bg-secondary text-white p-2">

                <div class="container-fluid">

                    <div class="row">
                        <div class="col">
                            <a class="text-white navbar-brand m-lg-2" asp-controller="Admin" asp-action="Admin">Utah MVC Administration</a>
                        </div>
                        <div class="col">
                            <partial name="_LoginPartial" />
                        </div>
                        <div class="col">
                            <partial name="_CookieConsentPartial" />
                        </div>

                    </div>

                </div>

            </div>
        </navbar>
        <!-- end navigation bar -->
    </header>
    <br/>

    <div class="container-fluid">
        <div class="buttons offset-sm-9">
            <a type="button" class="btn btn-purp" asp-controller="Home" asp-action="Index">Utah MVC</a>
            <a type="button" class="btn btn-primary" asp-controller="Admin" asp-action="Admin">Admin Home</a>
            <a type="button" class="btn btn-success" asp-controller="Admin" asp-action="AdminAdd">Add Record</a>
        </div>
    </div>

        @RenderBody()


</body>
</html>