@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Analytics";
}

@model MLCrash

<head>
    <style>
        label {
            float: left;
        }

        span {
            font-weight: bold;
            font-size: large;
            display: block;
            padding: 0px 4px 0px 6px;
        }

        select {
            width: 70%;
        }
    </style>
</head>

<div class="banner-area banner-4">
    <div class="overlay dark-overlay"></div>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 m-auto text-center col-sm-12 col-md-12">
                        <div class="banner-content content-padding">
                            <h5 class="subtitle">Utah MVC</h5>
                            <h1 class="banner-title">Analytics</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />



<!-- PUT CALCULATOR HERE -->



<div class="container-fluid">
    <div class="row">
        <div class="col-5 text-center form-group">
            <h1>Future Insight</h1>
            <br />

            <form id="rcorners1" class="col-12 shadow-none p-3 mb-5 bg-light rounded" method="post" asp-controller="Inference" asp-action="Score">
                <br />
                <div class="row">
                    <div class="col">
                        <div class="form-group offset-md-1" style="text-align:left">
                            <label>Did Crash occur in Salt Lake City?</label>
                            <div class="form-group">
                                <span>
                                    <select asp-for="City_Salt_Lake_City">
                                        <option selected>True or False</option>
                                        <option value="1">True</option>
                                        <option value="0">False</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group offset-md-1" style="text-align:left">
                            <label>Did Crash occur in Utah County?</label>
                            <div class="form-group">
                                <span>
                                    <select asp-for="County_Name_Utah">
                                        <option selected>True or False</option>
                                        <option value="1">True</option>
                                        <option value="0">False</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group offset-md-1" style="text-align:left">
                            <label>Was a bicyclist involved?</label>
                            <div class="form-group">
                                <span>
                                    <select asp-for="Bicyclist_Involved">
                                        <option selected>True or False</option>
                                        <option value="1">True</option>
                                        <option value="0">False</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group offset-md-1" style="text-align:left">
                            <label>Was a motorcycle involved?</label>
                            <div class="form-group">
                                <span>
                                    <select asp-for="Motorcycle_Involved">
                                        <option selected>True or False</option>
                                        <option value="1">True</option>
                                        <option value="0">False</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group offset-md-1" style="text-align:left">
                            <label>Was seat belt properly being used?</label>
                            <div class="form-group">
                                <span>
                                    <select asp-for="Unrestrained_True">
                                        <option selected>True or False</option>
                                        <option value="1">True</option>
                                        <option value="0">False</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group offset-md-1" style="text-align:left">
                            <label>Was the driver under the influence?</label>
                            <div class="form-group">
                                <span>
                                    <select asp-for="DUI_True">
                                        <option selected>True or False</option>
                                        <option value="1">True</option>
                                        <option value="0">False</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group offset-md-1" style="text-align:left">
                            <label>Did the vehicle roll?</label>
                            <div class="form-group">
                                <span>
                                    <select asp-for="Overturn_Rollover_True">
                                        <option selected>True or False</option>
                                        <option value="1">True</option>
                                        <option value="0">False</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group offset-md-1" style="text-align:left">
                            <label>Was a commercial vehicle involved?</label>
                            <div class="form-group">
                                <span>
                                    <select asp-for="Commercial_Vehicle_Involved_True">
                                        <option selected>True or False</option>
                                        <option value="1">True</option>
                                        <option value="0">False</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group offset-md-1" style="text-align:left">
                            <label>Was driver distracted?</label><br />
                            <div class="form-group">
                                <span>
                                    <select asp-for="Distracted_Driving">
                                        <option selected>True or False</option>
                                        <option value="1">True</option>
                                        <option value="0">False</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="col">
                        <div class="form-group offset-md-1" style="text-align:left">
                            <div class="button form-group">
                                <br/>
                                <span style="font-size:xx-large">
                                    Score:                           
                                   
                                    @if (ViewBag != null)
                                    {
                                        @ViewBag.Score}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <button class="button btn-primary btn-lg" style="text-align:center" type="submit">Calculate</button>



            </form>

        </div>
        <div class="col-7 text-center">
            <div>
                <h1>Current Figures</h1><br />
                @*<iframe width="700" height="550" src="https://udps.numetric.net/utah-crash-summary#/df33b49b-1a3d-4d3d-b545-e838a588f3e4" frameborder="0"></iframe>*@

            </div>
            <div>

                @*<iframe width="700" height="350" src="https://udps.numetric.net/utah-crash-summary#/c55520d6-9164-46b4-9a32-510379d9f1e7" frameborder="0"></iframe>*@
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-5 text-center">
            <h2>Test</h2>
            <iframe width="700" height="550" src="https://udps.numetric.net/utah-crash-summary#/df33b49b-1a3d-4d3d-b545-e838a588f3e4" frameborder="0"></iframe>
        </div>
        <div class="coll-7 text-center">
            <h2>Test</h2>
            <iframe width="1000" height="550" src="https://udps.numetric.net/utah-crash-summary#/c55520d6-9164-46b4-9a32-510379d9f1e7" frameborder="0"></iframe>
        </div>
    </div>
</div>