@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Data";
}

@model CrashesViewModel

<div class="banner-area banner-2">
    <div class="overlay dark-overlay"></div>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 m-auto text-center col-sm-12 col-md-12">
                        <div class="banner-content content-padding">
                            <h5 class="subtitle">Utah Motor Vehicle Collision Center</h5>
                            <h1 class="banner-title">Crash Data</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row m-1 p-4">
    <div class="col-2">
        <vc:filter></vc:filter>
    </div>

    <div class="col-10">
        <!-- crash table -->
        @foreach (Crash c in Model.UtahCrashData)
        {
            <partial name="CrashSummary" model="c" />
        }
    </div>
</div>

<div class="container-fluid">
    <div class="col-12" style="text-align:center">
        <div class="row">
            <div class="col button">
                <a type="button" class="btn btn-primary btn-sm" asp-controller="Home" asp-action="Crashes" asp-route-PageNum="1">First</a>
            </div>
            <div page-blah="@Model.PageInfo" page-action="Crashes" page-class="btn"
                 page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
                 page-classes-enabled="true"
                 class="col-9 mr-10">

            </div>
            <div class="col button" >
                <a type="button" class="btn btn-primary btn-sm" asp-controller="Home" asp-action="Crashes" asp-route-PageNum="@Model.PageInfo.TotalPages">Last</a>
            </div>
        </div>
    </div>
</div>

    <br />
