@{
    ViewData["Title"] = "Home";
}


<!--MAIN BANNER AREA START -->
<div class="banner-area banner-3">
    <div class="overlay dark-overlay"></div>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 m-auto text-center col-sm-12 col-md-12">
                        <div class="banner-content content-padding">
                            <h5 class="subtitle">Utah Motor Vehicle Collision Center</h5>
                            <h1 class="banner-title">Keeping you safe on the road.</h1>
                            <p>We provide data to help decrease motor vehicle collisions in Utah.</p>

                            <a asp-controller="Home" asp-action="Crashes" class="btn btn-white btn-circled">Check out the data</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--MAIN HEADER AREA END -->


<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="seo & digital marketing">
    <meta name="keywords" content="marketing,digital marketing,creative, agency, startup,promodise,onepage, clean, modern,seo,business, company">
    <meta name="author" content="Themefisher.com">

    <title>Promodise - seo and digital marketing solution </title>
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.css">
    <!-- Icofont Css -->
    <link rel="stylesheet" href="plugins/fontawesome/css/all.css">
    <!-- animate.css -->
    <link rel="stylesheet" href="plugins/animate-css/animate.css">
    <!-- Icofont -->
    <link rel="stylesheet" href="plugins/icofont/icofont.css">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/style.css">


</head>


<body data-spy="scroll" data-target=".fixed-top">


    <!--  SERVICE BLOCK2 START  -->
    <section id="service-2" class="section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="service-box-2">
                        <span>01</span>
                        <h4>Community</h4>
                        <p>Nothing is more important than the community and we take pride in putting the community's safety first.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-box-2">
                        <span>02</span>
                        <h4>Insight</h4>
                        <p>By gaining insight, we can discover areas of focus to create safety measures to reduce future impact of crashes.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-box-2">
                        <span>03</span>
                        <h4>Privacy</h4>
                        <p>We use secure connections, 2 factor authentication, transparency, cookies, and more to meet GDPR standards.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  SERVICE BLOCK2 END  -->
    <!--  SERVICE AREA START  -->
    <section class="section pt-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-sm-12 col-md-6 mb-4">
                    <img src="~/bootstrap/images/brycecar.jpg" alt="feature bg" class="img-fluid">
                </div>

                <div class="col-lg-7 pl-4">
                    <div class="mb-5">
                        <h3 class="mb-4">We aspire to create data insights <br>that improve the community</h3>
                        <p>Our team understands that data can illustrate the past, present, and future of events. We offer the abiltiy to create awareness, insight, and prevention through the following tools.</p>
                    </div>

                    <ul class="about-list">
                        <li>
                            <h5 class="mb-2"><i class="icofont icofont-check-circled"></i>Machine Learning</h5>
                            <p>Utilize python libraries to create custom machine learning pipelines.</p>
                        </li>

                        <li>
                            <h5 class="mb-2"><i class="icofont icofont-check-circled"> </i>ASP.NET Framework</h5>
                            <p>To share our knowledge, we use custom C# with ASP.NET to create a public website.</p>
                        </li>

                        <li>
                            <h5 class="mb-2"><i class="icofont icofont-check-circled"> </i>Security Control</h5>
                            <p>Our site surpasses security standards and implements best practices for privacy.</p>
                        </li>
                        <li>
                            <h5 class="mb-2"> <i class="icofont icofont-check-circled"> </i>AWS Deployment</h5>
                            <p>To reduce cost and provide flexible services we implement AWS Cloud products.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--  SERVICE AREA END  -->
    <!--  SERVICE PARTNER START  -->
    <section id="service-head" class="service-style-two">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-sm-12 m-auto">
                    <div class="heading text-white text-center">
                        <h4 class="section-title text-white">Our Vision For Utah Roads</h4>
                        <p>We're dedicated to create awarness, insight, and prevention for Utah roads to reduce the amount and severity of car crashes throughout the state.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  SERVICE PARTNER END  -->
    <!--  SERVICE AREA START  -->
    <section id="service">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="service-box">
                        <div class="">
                            <br />
                            <img src="~/bootstrap/images/imageq.png" class="img-fluid" />
                        </div>
                        <br />
                        <br />
                        <div class="service-inner">
                            <h4>Who We Are</h4>
                            <p>A group of Utah locals who want a safer community for our friends, families, and neighbors.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="service-box ">
                        <div class="">
                            <br />
                            <br />
                            <img src="~/bootstrap/images/chain2.jpg" class="img-fluid" style="width: 69%; height:auto" />
                        </div>
                        <div class="service-inner">
                            <br />
                            <br />
                            <h4>What Our Site Is</h4>
                            <p>A shared resource to combine the vison between residents, local governments, and businesses.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="service-box">
                        <div class="">
                            <img src="~/bootstrap/images/gears.jpg" class="img-fluid">
                        </div>
                        <div class="service-inner">
                            <h4>What The Site Does</h4>
                            <p>Provides data resources and insights to give community leaders the ability to make smarter decisions.</p>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </section>
    <!--  SERVICE AREA END  -->
    
</body>
</html>